{% extends 'base.html' %}

{% block title %}
タスク新規作成
{% endblock title %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">
            タスク新規作成
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<form method="post" action="{% url 'tasks:task_form' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label">タスク名</label>
        <input type="{{ form.title.field.widget.input_type }}" class="form-control" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" aria-describedby="titleHelp">
        <div id="titleHelp" class="form-text">明日から7日間取り組む内容を入力してください<br>
        例: 20分間読書をする</div>
    </div>
    <div class="mb-3">
        <label for="{{ form.fine.id_for_label }}" class="form-label">罰金額</label>
        <input type="{{ form.fine.field.widget.input_type }}" class="form-control" name="{{ form.fine.name }}" id="{{ form.fine.id_for_label }}" aria-describedby="fineHelp">
        <div id="fineHelp" class="form-text">継続できなかった際に支払う金額を入力してください<br>
        例: 500</div>
    </div>
    <button type="submit" class="btn btn-primary">タスク作成</button>
</form>

{% endblock content %}