{% extends 'base.html' %}
{% load datetime_filters %}


{% block title %}
タスク新規作成
{% endblock title %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">
            {{ task.title }}
            {% if task.status == "N" %}
            <span class="badge text-bg-primary">未開始</span>
            {% elif task.status == "I" %}
            <span class="badge text-bg-secondary">継続中</span>
            {% elif task.status == "D" %}
            <span class="badge text-bg-success">達成済み</span>
            {% elif task.status == "F" %}
            <span class="badge text-bg-danger">失敗</span>
            {% endif %}
        </h1>
        <h3 class="fw-normal text-muted mb-3">
            <a href="{% url 'users:profile' task.user.id %}" class="text-secondary">
                ユーザー: {{ task.user.username }}
            </a>
        </h3>
        <h3 class="fw-normal text-muted mb-3">罰金額: {{ task.fine }}円</h3>
    </div>
</div>

<p></p>

<ol class="list-group list-group-numbered">
    {% for todo in todo_list %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="fw-bold">{{ todo.date }} : {{ todo.date|days_diff:todo.task.created_at }}</div>
            {{ todo.task.title }}
        </div>
        {% if task.status == "N" %}
        <span class="badge text-bg-primary">未開始</span>
        {% elif todo.status == "I" %}
        <span class="badge text-bg-secondary">挑戦待ち</span>
        {% elif todo.status == "D" %}
        <span class="badge text-bg-success">達成済み</span>
        {% elif todo.status == "F" %}
        <span class="badge text-bg-danger">失敗</span>
        {% elif todo.status == "S" %}
        <span class="badge text-bg-warning">中断</span>
        {% endif %}
    </li>
    {% empty %}
    {% endfor %}
</ol>
{% endblock content %}