{% extends 'base.html' %}
{% load static %}
{% load datetime_filters %}


{% block title %}
{{ task.title }} | 継続or罰金
{% endblock title %}

{% block ogp %}
<meta property="og:title" content="{{ task.title }} | 継続or罰金" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="https://keizokuorbakkin.com{{ task_ogp_img.image.url }}" />
<meta property="og:description" content="継続に失敗するとお金が引き落とされます" />
<meta property="og:site_name" content="継続or罰金" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image">
{% endblock ogp %}

{% block content %}
<div class="container">
    <div class="p-3 p-md-5 bg-body-tertiary text-center">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-bold">
                {{ task.title }}
                {% if task.status == "N" %}
                <span class="badge text-bg-primary">未開始</span>
                {% elif task.status == "I" %}
                <span class="badge text-bg-secondary">継続中</span>
                {% elif task.status == "D" %}
                <span class="badge text-bg-success">達成済み</span>
                {% elif task.status == "F" %}
                <span class="badge text-bg-danger">失敗</span>
                {% endif %}
            </h1>
            <h3 class="fw-normal text-muted mb-3">
                ユーザー: {{ task.user.username }}
            </h3>
            <h3 class="fw-normal text-muted mb-3">罰金額: {{ task.fine }}円</h3>
            <div class="row g-1 row-cols-auto justify-content-center">
                {% if request.user.is_authenticated %}
                <div class="col">
                    <a
                        href="{% url 'users:profile' request.user.id %}"
                        class="btn btn-secondary"
                    >
                        マイページへ
                    </a>
                </div>
                {% endif %}
                <div class="col">
                    <button type="button" class="btn btn-outline-dark" id="ToastBtnForUrl">シェア用にURLをコピー</button>
                </div>
                <div class="col">
                    <a
                        href="{% url 'users:profile' task.user.id %}"
                        class="btn btn-secondary"
                    >
                        このユーザーのマイページへ
                    </a>
                </div>
                <div class="col">
                    <a
                        href="{% url 'analytics:user_analytics' task.user.id %}"
                        class="btn btn-secondary"
                    >
                        このユーザーの統計データを見る
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 応援者の簡単な情報と応援メッセージを表示したい -->

{% if supporter %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="fw-bold">はじまり</div>
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img src="{{ supporter.avatar.url }}" alt="{{ supporter.name }}" class="img-fluid rounded">
                </div>
                <div class="col-10 ">
                    <h5 class="card-title">{{ encouragement_message_day0.title }}</h5>
                    <div class="card-text">
                        {{ encouragement_message_day0.message }}
                    </div>
                    <div class="text-end fw-bold">サポーター：{{ supporter.name }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container mt-5">
        {% load custom_tags %}
        {% for todo in todo_list %}
        <div class="card">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ todo.date|days_diff:todo.task.created_at }} : {{ todo.date }}</div>
                        {{ todo.task.title }}
                    </div>
                    {% if task.status == "N" %}
                    <span class="badge text-bg-primary">未開始</span>
                    {% elif todo.status == "I" %}
                        {% if request.user == todo.task.user and todo.date == today %}
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-auto mb-2 mb-sm-0">
                                    <div class="d-flex justify-content-sm-end">
                                        <span id="todays-badge" class="badge text-bg-secondary ">挑戦待ち</span>
                                    </div>
                                    <button
                                    data-button="when-done"
                                    data-url="{% url 'tasks:todo_done' todo.id %}"
                                    name="{{ todo.id}}"
                                    class="btn btn-secondary badge"
                                    style="font-size: 0.75em; padding: .2em .65em; width: 103px; height: 20px;">
                                        達成したらクリック
                                    </button>


                                </div>
                            </div>
                        {% else %}
                            <span class="badge text-bg-secondary">挑戦待ち</span>
                        {% endif %}                        
                    {% elif todo.status == "D" %}
                    <span class="badge text-bg-success">達成済み</span>
                    {% elif todo.status == "F" %}
                    <span class="badge text-bg-danger">失敗</span>
                    {% elif todo.status == "S" %}
                    <span class="badge text-bg-warning">中断</span>
                    {% endif %}
                </li>
                {% get_dynamic_var "encouragement_message_day" forloop.counter as encouragement_message %}
                {% if encouragement_message %}
                <li class="list-group-item">
                    <div style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ encouragement_message.supporter.avatar.url }}" alt="{{ encouragement_message.supporter.name }}" class="img-fluid rounded">
                        </div>
                        <div class="col-10">
                            <h5 class="card-title">{{ encouragement_message.title }}</h5>
                            <div class="card=text">
                                {{ encouragement_message.message }}
                            </div>
                            <div class="text-end fw-bold">サポーター：{{ encouragement_message.supporter.name }}</div>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ol>
        </div>
        <p></p>

        {% empty %}
        {% endfor %}
</div>

<!-- URLコピー時のトースト -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastForUrl" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="{% static 'favicon/favicon.png' %}" class="rounded me-2" alt="継続or罰金のファビコン" width="20" height="20">
        <strong class="me-auto">継続or罰金</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <div id="myMessage">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>

{% include 'tasks/script_for_task_detail.html' %}
<!-- URLコピー時のトースト -->
{% include 'tasks/copy_url_script.html' %}
{% endblock content %}
