{% extends 'base.html' %}
{% load static %}

{% block title %}
【継続or罰金】タスクを作り未達成の場合にお金を失うサービス
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="p-3 p-md-5 bg-body-tertiary">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-3 fw-bold text-center">
                    ようこそ
                </h1>
                <h3 class="fw-normal text-muted mb-3 text-center">このサイトは「継続すること」を支援するために作られました</h3>
                <div class="row g-1 row-cols-auto justify-content-center mt-3">
                    {% if request.user.is_authenticated %}
                        <div class="col">
                            <a
                                href="{% url 'users:profile' request.user.id %}"
                                class="btn btn-secondary"
                            >
                                マイページへ
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="p-4 p-lg-5 bg-light">
            <h2 class="fw-bold">サイトの概要</h2>
            <p class="fs-5">明日から5日間毎日取り組むこと(タスク)と、達成できなかった時の罰金額を決め，クレジットカード情報を入力します．</p>
            <p class="fs-5">※罰金額を0円とした場合，クレジットカード情報の入力なしで使用することができます．</p>
            <p class="fs-5">毎日(5日間)このサイトで「達成したらクリック」ボタンをクリックした場合は成功となり，お金は引き落とされません．</p>
            <p class="fs-5">1日でも「達成したらクリック」ボタンを押し忘れるとそのタスクは失敗扱いとなり，最初に決めた罰金額が引き落とされます．</p>
            <p class="fs-5">失敗になった場合，継続も終了となるため，罰金額が引き落とされる回数は1タスクにつき最大で1回です．</p>
            <p class="fs-5">日付が変わるタイミングは日本時間の日付が変わるタイミングです．</p>
            <p class="fs-5">このサイトでは，お金が無駄になるかもしれない「危機感」を，何かを継続するための「原動力」にできます．</p>
            <p class="fs-5">このサイトで作られたタスクは誰でも閲覧可能となっています．</p>
            <p class="fs-5">タスク詳細ページのURLをシェアすることによって，そのタスクの進捗を他の人が確認することもできます．</p>
        </div>
    </div>
    

    <div class="container mt-5">
        <div class="row">
            <!-- 総継続達成金額 -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">みんなの継続達成総額</div>
                    <div class="card-body">
                        <h5 class="card-title text-success">{{ total_fine_done }}</h5>
                    </div>
                </div>
            </div>
    
            <!-- 総現在挑戦中金額 -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">みんなの現在挑戦中総額</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ total_fine_in_progress }}</h5>
                    </div>
                </div>
            </div>
    
            <!-- 総継続失敗額 -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">みんなの継続失敗総額</div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">{{ total_fine_failed }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">みんなのタスク(一部)</h2>
        <div class="row">
            <!-- 最近作られたタスク5個 -->
            <div class="col-md-4 pb-3">
                <div class="card">
                    <div class="card-header">最近作られたタスク</div>
                    <ul class="list-group list-group-flush">
                        {% for task in recent_tasks %}
                        <li class="list-group-item">
                            <span class="badge bg-white border rounded text-black">{{ task.fine }}円</span>
                            {% if task.status == "I" %}
                            <span class="badge text-bg-secondary">継続中</span>
                            {% elif task.status == "D" %}
                            <span class="badge text-bg-success">達成済み</span>
                            {% elif task.status == "F" %}
                            <span class="badge text-bg-danger">失敗</span>
                            {% endif %}
                            <a href="{% url 'tasks:task_detail' task.id %}" class="text-body-secondary">{{ task.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            <!-- 罰金額が大きいタスク5個 -->
            <div class="col-md-4 pb-3">
                <div class="card">
                    <div class="card-header">罰金額が大きいタスク</div>
                    <ul class="list-group list-group-flush">
                        {% for task in high_fine_tasks %}
                        <li class="list-group-item">
                            <span class="badge bg-white border rounded text-black">{{ task.fine }}円</span>
                            {% if task.status == "I" %}
                            <span class="badge text-bg-secondary">継続中</span>
                            {% elif task.status == "D" %}
                            <span class="badge text-bg-success">達成済み</span>
                            {% elif task.status == "F" %}
                            <span class="badge text-bg-danger">失敗</span>
                            {% endif %}
                            <a href="{% url 'tasks:task_detail' task.id %}" class="text-body-secondary">{{ task.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            <!-- 最近達成されたタスク5個 -->
            <div class="col-md-4 pb-3">
                <div class="card">
                    <div class="card-header">最近達成されたタスク</div>
                    <ul class="list-group list-group-flush">
                        {% for task in completed_tasks %}
                        <li class="list-group-item">
                            <span class="badge bg-white border rounded text-black">{{ task.fine }}円</span>
                            {% if task.status == "I" %}
                            <span class="badge text-bg-secondary">継続中</span>
                            {% elif task.status == "D" %}
                            <span class="badge text-bg-success">達成済み</span>
                            {% elif task.status == "F" %}
                            <span class="badge text-bg-danger">失敗</span>
                            {% endif %}
                            <a href="{% url 'tasks:task_detail' task.id %}" class="text-body-secondary">{{ task.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}