{% extends 'base.html' %}

{% block title %}
特定商取引法に基づく表記
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>特定商取引法に基づく表記</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>表示事項</th>
                <th>表示</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>販売価格（役務の対価）</td>
                <td>各ユーザーがそれぞれで決定する形となっております．</td>
            <tr>
                <td>代金等の支払時期</td>
                <td>オーソリはタスク作成時，キャプチャは継続失敗時となります．</td>
            </tr>
            <tr>
                <td>返品に関する事項</td>
                <td>WEB上のサービスであり，返品はできません．</td>
            </tr>
            <tr>
                <td>ソフトウェアを使用するための動作環境</td>
                <td>ウェブブラウザ: Google Chrome</td>
            </tr>
            <tr>
                <td>契約を２回以上継続して締結する場合の販売条件又は提供条件</td>
                <td>それぞれ独立したものとして処理されます．</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock content %}
